@tailwind base;
@tailwind components;
@tailwind utilities;
.flip-effect-container {
  perspective: 1000px;
  transition: transform 0.6s;
}

.flip-effect-container:hover {
  transform: rotateY(5deg);
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




body {
  font-family: 'Poppins', sans-serif;
}

  